kind: ClusterConfiguration
apiVersion: kubeadm.k8s.io/v1beta3
controlPlaneEndpoint: {{ ansible_host }}
imageRepository: {{ kubernetes_image_repository }}
kubernetesVersion: v{{ kubernetes_version }}
---
kind: InitConfiguration
apiVersion: kubeadm.k8s.io/v1beta3
nodeRegistration:
  criSocket: unix:///run/containerd/containerd.sock
  ignorePreflightErrors:
  - mem
  - numCpu
localAPIEndpoint:
  advertiseAddress: "{{ ansible_host }}"
---
kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
cgroupDriver: systemd

